<mat-card>
    <mat-card-content>
        <mat-card-title>               
            <span> 
                {{translate(labels.entityNameSeller)}}
                <div class="floatright">
                
                    <button mat-icon-button onclick="openSearchOverlay()" (click)="openSearch()"
                        [matTooltip]="translate(labels.btnSearch) + ' ' +translate(labels.entityNameSeller)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button  mat-icon-button onclick="openAddOverlay()"(click)="openSAdd()"
                    [matTooltip]="translate(labels.btnAdd) + ' ' +translate(labels.entityNameSeller)">
                    <i class="fa fa-plus"></i>
                    </button>
                </div>
            </span>
         
        </mat-card-title>
        <div id="add-overlay" class="overlaydiv m-t-5">
            <div class="overlay-content">
                <form [formGroup]="sellerForm"(ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnName)" type="text"
                            [errorStateMatcher]="matcher" formControlName="name">
                    </mat-form-field>
                    <mat-hint *ngIf="required('name')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>           
                        <mat-hint  *ngIf="emptySpace('name')" class="text-danger font-14">
                            {{translate(labels.validation_emptySpace)}}</mat-hint> 
                </div>
            
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnMilkPrice)" type="number"
                            [errorStateMatcher]="matcher" formControlName="milkPrice">
                    </mat-form-field>
                    <mat-hint *ngIf="required('milkPrice')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtPrice)" type="number"
                            [errorStateMatcher]="matcher" formControlName="yougurtPrice">
                    </mat-form-field>
                    <mat-hint *ngIf="required('yougurtPrice')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtAddres)" type="text"
                            [errorStateMatcher]="matcher" formControlName="address">
                    </mat-form-field>
                    <mat-hint *ngIf="required('address')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                        <mat-hint  *ngIf="emptySpace('address')" class="text-danger font-14">
                            {{translate(labels.validation_emptySpace)}}</mat-hint> 
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtPhone)" type="tel"
                            [errorStateMatcher]="matcher" formControlName="phoneN">
                    </mat-form-field>
                    <mat-hint *ngIf="required('phoneN')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
                    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtMobile)" type="tel"
                            [errorStateMatcher]="matcher" formControlName="mobileN">
                    </mat-form-field>
                    <mat-hint *ngIf="required('mobileN')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
                    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtOtherContact)" type="tel"
                            [errorStateMatcher]="matcher" formControlName="otherN">
                    </mat-form-field>
                    <mat-hint *ngIf="required('otherN')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
            </div>
            <mat-card-actions class="m-l-5">
                <button mat-raised-button  type="submit" class='m-l-2' [disabled]="!sellerForm.valid">{{addUpdateTitle()}}</button>
                <button mat-raised-button color="primary" type="button"  [disabled]="!this.sellerForm.touched && this.updateSellerId == null"(click)="onClearAdd()">{{translate(labels.btnClear)}}</button>
                <button mat-raised-button color="accent" type="button" onclick="closeAddOverlay()" (click)="onClearAdd()">{{translate(labels.btnCancel)}}</button>
            </mat-card-actions>
         
        </form>
    
    </div>
    </div>
    <div id="search-overlay" class="overlaydiv m-t-5">
        <div class="overlay-content">
        <form [formGroup]="sellerSearch" (ngSubmit)="onSearch()">
         
            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnName )" type="text"
                            [errorStateMatcher]="matcher" formControlName="name">
                    </mat-form-field>
                </div>
            
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnMilkPrice)" type="number"
                            [errorStateMatcher]="matcher" formControlName="milkPrice">
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtPrice)" type="number"
                            [errorStateMatcher]="matcher" formControlName="yougurtPrice">
                    </mat-form-field>
                
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtAddres)" type="text"
                            [errorStateMatcher]="matcher" formControlName="address">
                    </mat-form-field>
                  
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtPhone)" type="tel"
                            [errorStateMatcher]="matcher" formControlName="phoneN">
                    </mat-form-field>
                   
                </div>
                    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtMobile)" type="tel"
                            [errorStateMatcher]="matcher" formControlName="mobileN">
                    </mat-form-field>
                </div>
                    <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.SellerColumnYougurtOtherContact)" type="tel"
                            [errorStateMatcher]="matcher" formControlName="otherN">
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <label class="m-r-20">{{translate(labels.history)}}  :</label>
                    <mat-radio-group formControlName="history" (change)="onValChange()">
                      <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                      <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
            </div>
            <mat-card-actions class="m-l-5">
                <button mat-raised-button  type="submit" class='m-l-2'[disabled]="!this.sellerSearch.touched"onclick="closeSearchOverlay()">{{translate(labels.btnSearch)}}</button>
                <button mat-raised-button color="primary" type="button"  [disabled]="!this.sellerSearch.touched"(click)="onClearSearch()">{{translate(labels.btnClear)}}</button>
                <button mat-raised-button color="accent" type="button" onclick="closeSearchOverlay()"(click)="onClearSearch()">{{translate(labels.btnCancel)}}</button>

            </mat-card-actions>
         
        </form>
    </div>
    
    </div>
    <!-- <div class="bg-light p-10 p-r-20 p-l-20 m-t-3">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div> -->
    <div class="responsive-table ">
        <mat-table [dataSource]="sellerList" matSort class="angTable">

            <!-- Progress Column -->
            <ng-container matColumnDef="sellername">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnName)}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="milkPrice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnMilkPrice)}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.milkPrice}} </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="yougurtPrice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnYougurtPrice)}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.yougurtPrice}} </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="phoneN">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnYougurtPhone)}}
                    </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.phoneN}} </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="mobileN">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnYougurtMobile)}}
                    </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.mobileN}} </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="otherN">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnYougurtOtherContact)}}
                   </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.otherN}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.SellerColumnYougurtAddres)}}
                    </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
            </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.user)}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row?.userId?.name}} </mat-cell>
</ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="timeStamp">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.timeStamp)}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.timeStamp}} </mat-cell>
</ng-container>
            <ng-container matColumnDef="action">
                <th class="text-center" mat-header-cell *matHeaderCellDef id="action">
                    <div class="blockheader-with-text"> {{translate(labels.mat_action)}}</div>
                </th>
                <td class="text-center" mat-cell *matCellDef="let element; let currentIndex= index">
                    <a *ngIf="!sellerSearch.controls['history'].value || sellerSearch.controls['history'].value == 'false'"(click)="loadSellerToEdit(element._id , currentIndex)" class="m-r-10 cursor-pointer"
                        [matTooltip]="translate(labels.btnEdit)"><i class="fa fa-pencil"
                            onclick="openAddOverlay()"></i></a>
                    <a *ngIf="!sellerSearch.controls['history'].value || sellerSearch.controls['history'].value == 'false'" (click)="deleteByIdSeller(element._id , currentIndex)" class="m-r-10 cursor-pointer"
                        [matTooltip]="translate(labels.btnDelete)">
                        <i class="fa fa-trash text-danger"></i>
                    </a>
                </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"[ngClass]="{'backgroundColor':sharedService.check(row)}">
            </mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    </mat-card-content>
</mat-card>