<mat-card>
    <mat-card-content>
        <mat-card-title>               
            <span> 
                {{translate(labels.entityNamePurchase)}}
                <div class="floatright">
                
                    <button mat-icon-button onclick="openSearchOverlay()" (click)="openSearch()"
                        [matTooltip]="translate(labels.btnSearch) + ' ' +translate(labels.entityNamePurchase)">
                        <i class="fa fa-search" aria-hidden="true"></i>

                    </button>
                    <button  mat-icon-button onclick="openAddOverlay()"(click)="openSAdd()"
                        [matTooltip]="translate(labels.btnAdd) + ' ' +translate(labels.entityNamePurchase)">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </span>
         
        </mat-card-title>
        <div id="add-overlay" class="overlaydiv m-t-5">

            <div class="overlay-content">
                <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">

                    <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <mat-label>{{translate(labels.purchaseColumnSellerName)}}
                                </mat-label>
                                <mat-select formControlName="seller"
                                    [errorStateMatcher]="matcher" class="angSelect">
                                    <mat-option *ngFor="let seller of sellerList"
                                        [value]="seller._id">
                                        {{seller.name}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-hint *ngIf="required('seller')" class="text-danger font-14">
                                {{translate(labels.validation_required)}}</mat-hint>
                            </div>
                                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                                    <mat-form-field>
                                        <mat-label>{{translate(labels.itemColumnName)}}
                                        </mat-label>
                                        <mat-select formControlName="item"
                                            [errorStateMatcher]="matcher" class="angSelect">
                                            <mat-option *ngFor="let item of itemList"
                                                [value]="item._id">
                                                {{item?.Itemname}} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-hint *ngIf="required('item')" class="text-danger font-14">
                                        {{translate(labels.validation_required)}}</mat-hint>
                                </div>
                    
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <input matInput [placeholder]="translate(labels.purchaseColumnQuantitiy)" type="number"
                                    [errorStateMatcher]="matcher" formControlName="quantity">
                            </mat-form-field>
                            <mat-hint *ngIf="required('quantity')" class="text-danger font-14">
                                {{translate(labels.validation_required)}}</mat-hint>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <label class="m-r-20">{{translate(labels.purchaseColumnPayment)}}  :</label>
                            <mat-radio-group formControlName="payment" (change)="onValChange()">
                              <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                              <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                            </mat-radio-group>
                          </div>
                    </div>
            <mat-card-actions class="m-l-5">
                <button mat-raised-button  type="submit" class='m-l-2'[disabled]="!purchaseForm.valid">{{addUpdateTitle()}}</button>
                <button mat-raised-button color="primary" type="button"  [disabled]="!this.purchaseForm.touched && this.updatePurchaseId == null"(click)="onClearAdd()">{{translate(labels.btnClear)}}</button>
                <button mat-raised-button color="accent" type="button" onclick="closeAddOverlay()" (click)="onClearAdd()">{{translate(labels.btnCancel)}}</button>

            </mat-card-actions>
         
        </form>
    
    </div>
    </div>
    <div id="search-overlay" class="overlaydiv m-t-5">
        <div class="overlay-content">
        <form [formGroup]="purchaseSearch" (ngSubmit)="onSearch()">
         
            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <mat-label>{{translate(labels.purchaseColumnSellerName)}}
                        </mat-label>
                        <mat-select formControlName="seller"
                            [errorStateMatcher]="matcher" class="angSelect">
                            <mat-option *ngFor="let seller of sellerList"
                                [value]="seller">
                                {{seller?.name}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <mat-label>{{translate(labels.itemColumnName)}}
                                </mat-label>
                                <mat-select formControlName="item"
                                    [errorStateMatcher]="matcher" class="angSelect">
                                    <mat-option *ngFor="let item of itemList"
                                        [value]="item">
                                        {{item?.Itemname}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
            
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.purchaseColumnQuantitiy)" type="number"
                            [errorStateMatcher]="matcher" formControlName="quantity">
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <label class="m-r-20">{{translate(labels.purchaseColumnPayment)}}  :</label>
                    <mat-radio-group formControlName="payment" (change)="onValChange()">
                      <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                      <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
            
         
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <label class="m-r-20">{{translate(labels.history)}}  :</label>
                    <mat-radio-group formControlName="history" (change)="onValChange()" [disabled]="disableHistory">
                      <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                      <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
         
           
            </div>
            <mat-card-actions>
                <button mat-raised-button  type="submit"class='m-l-2' [disabled]="!this.purchaseSearch.touched"onclick="closeSearchOverlay()">{{translate(labels.btnSearch)}}</button>
                <button mat-raised-button color="primary" type="button"  [disabled]="!this.purchaseSearch.touched"(click)="onClearSearch()">{{translate(labels.btnClear)}}</button>
                <button mat-raised-button color="accent" type="button" onclick="closeSearchOverlay()"(click)="onClearSearch()">{{translate(labels.btnCancel)}}</button>

            </mat-card-actions>
         
        </form>
    </div>
    
    </div>
    <div class="responsive-table ">
        <mat-table [dataSource]="purchaseList" matSort  class="angTable" >

           

            <!-- Progress Column -->
            <ng-container matColumnDef="Purchasename">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.purchaseColumnSellerName)}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.seller?.name}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="item">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.itemColumnName)}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.item?.Itemname}} </mat-cell>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.purchaseColumnQuantitiy)}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
            </ng-container>
             <!-- Name Column -->
             <ng-container matColumnDef="payment">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.purchaseColumnPayment)}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.payment}} </mat-cell>
            </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.user)}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.userId?.name}} </mat-cell>
    </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="timeStamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.timeStamp)}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.timeStamp}} </mat-cell>
    </ng-container>
            <ng-container matColumnDef="action" >
                <th class="text-center" mat-header-cell *matHeaderCellDef id="action" >
                    <div class="blockheader-with-text"> {{translate(labels.mat_action)}}</div>
                </th>
                <td class="text-center" mat-cell *matCellDef="let element; let currentIndex= index">
                    <a  *ngIf="!purchaseSearch.controls['history'].value || purchaseSearch.controls['history'].value == 'false'"(click)="loadPurchaseToEdit(element._id , currentIndex)" class="m-r-10 cursor-pointer"  [matTooltip]="translate(labels.btnEdit)"><i class="fa fa-pencil" onclick="openAddOverlay()"></i></a>  
                    <a *ngIf="!purchaseSearch.controls['history'].value || purchaseSearch.controls['history'].value  == 'false'"(click)="deleteByIdPurchase(element._id , currentIndex)" class="m-r-10 cursor-pointer" [matTooltip]="translate(labels.btnDelete)">
                        <i class="fa fa-trash text-danger"></i>
                     </a>  
                </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"[ngClass]="{'backgroundColor':sharedService.check(row)}">
            </mat-row>
            
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    </mat-card-content>
</mat-card>
