<mat-card>
    <mat-card-content>
        <mat-card-title>               
            <span> 
                {{translate(labels.entityNameItem)}}
                <div class="floatright">
                
                    <button mat-icon-button onclick="openSearchOverlay()" (click)="openSearch()"
                        [matTooltip]="translate(labels.btnSearch) + ' ' +translate(labels.entityNameItem)">
                        <i class="fa fa-search" aria-hidden="true"></i>

                    </button>
                    <button  mat-icon-button onclick="openAddOverlay()"(click)="openSAdd()"
                        [matTooltip]="translate(labels.btnAdd) + ' ' +translate(labels.entityNameItem)">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </span>
         
        </mat-card-title>
        <div id="add-overlay" class="overlaydiv m-t-5">

            <div class="overlay-content">
                <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.itemColumnName)" type="text"
                            [errorStateMatcher]="matcher" formControlName="Itemname">
                    </mat-form-field>
                    <mat-hint *ngIf="required('Itemname')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>           
                        <mat-hint  *ngIf="emptySpace('Itemname')" class="text-danger font-14">
                            {{translate(labels.validation_emptySpace)}}</mat-hint> 
                </div>
            
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.itemColumnPrice)" type="number"
                            [errorStateMatcher]="matcher" formControlName="price">
                    </mat-form-field>
                    <mat-hint *ngIf="required('price')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <mat-label>{{translate(labels.itemColumnCountingUnit)}}
                        </mat-label>
                        <mat-select formControlName="countingUnit"
                            [errorStateMatcher]="matcher" class="angSelect">
                            <mat-option *ngFor="let countingUnit of countingUnitList"
                                [value]="countingUnit">
                                {{countingUnit}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-hint *ngIf="required('countingUnit')" class="text-danger font-14">
                        {{translate(labels.validation_required)}}</mat-hint>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <label class="m-r-20">{{translate(labels.userColumnIsExpense)}} :</label>
                    <mat-radio-group formControlName="isExpense">
                      <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                      <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
            </div>
            <mat-card-actions class="m-l-5">
                <button mat-raised-button  type="submit" class='m-l-2'[disabled]="!itemForm.valid">{{addUpdateTitle()}}</button>
                <button mat-raised-button color="primary" type="button"  [disabled]="!this.itemForm.touched && this.updateItemId == null"(click)="onClearAdd()">{{translate(labels.btnClear)}}</button>
                <button mat-raised-button color="accent" type="button" onclick="closeAddOverlay()" (click)="onClearAdd()">{{translate(labels.btnCancel)}}</button>

            </mat-card-actions>
         
        </form>
    
    </div>
    </div>
    <div id="search-overlay" class="overlaydiv m-t-5">
        <div class="overlay-content">
        <form [formGroup]="itemSearch" (ngSubmit)="onSearch()">
         
            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.itemColumnName)" type="text"
                            [errorStateMatcher]="matcher" formControlName="Itemname">
                    </mat-form-field>
                
                </div>
            
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <input matInput [placeholder]="translate(labels.itemColumnPrice)" type="number"
                            [errorStateMatcher]="matcher" formControlName="price">
                    </mat-form-field>
              
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-form-field>
                        <mat-label>{{translate(labels.itemColumnCountingUnit)}}
                        </mat-label>
                        <mat-select formControlName="countingUnit"
                            [errorStateMatcher]="matcher" class="angSelect">
                            <mat-option *ngFor="let countingUnit of countingUnitList"
                                [value]="countingUnit">
                                {{countingUnit}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <label class="m-r-20">{{translate(labels.userColumnIsExpense)}} :</label>
                    <mat-radio-group formControlName="isExpense">
                      <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                      <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <label class="m-r-20">{{translate(labels.history)}} :</label>
                    <mat-radio-group formControlName="history" (change)="onValChange()">
                      <mat-radio-button value="true" class="m-r-10">Yes</mat-radio-button>
                      <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
            </div>
            <mat-card-actions>
                <button mat-raised-button  type="submit"class='m-l-2' [disabled]="!this.itemSearch.touched"onclick="closeSearchOverlay()">{{translate(labels.btnSearch)}}</button>
                <button mat-raised-button color="primary" type="button"  [disabled]="!this.itemSearch.touched"(click)="onClearSearch()">{{translate(labels.btnClear)}}</button>
                <button mat-raised-button color="accent" type="button" onclick="closeSearchOverlay()"(click)="onClearSearch()">{{translate(labels.btnCancel)}}</button>

            </mat-card-actions>
         
        </form>
    </div>
    
    </div>
    <!-- <div class="bg-light p-10 p-r-20 p-l-20 m-t-3">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div> -->
    <div class="responsive-table ">
        <mat-table [dataSource]="itemList" matSort  class="angTable" >

           

            <!-- Progress Column -->
            <ng-container matColumnDef="Itemname">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.itemColumnName)}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.Itemname}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.itemColumnPrice)}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
            </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="countingUnit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.itemColumnCountingUnit)}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.countingUnit}} </mat-cell>
    </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="isExpense">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.userColumnIsExpense)}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.isExpense}} </mat-cell>
    </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.user)}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row?.userId?.name}} </mat-cell>
    </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="timeStamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{translate(labels.timeStamp)}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.timeStamp}} </mat-cell>
    </ng-container>
            <ng-container matColumnDef="action" >
                <th class="text-center" mat-header-cell *matHeaderCellDef id="action" >
                    <div class="blockheader-with-text"> {{translate(labels.mat_action)}}</div>
                </th>
                <td class="text-center" mat-cell *matCellDef="let element; let currentIndex= index">
                    <a  *ngIf="!itemSearch.controls['history'].value || itemSearch.controls['history'].value == 'false'"(click)="loadItemToEdit(element._id , currentIndex)" class="m-r-10 cursor-pointer"  [matTooltip]="translate(labels.btnEdit)"><i class="fa fa-pencil" onclick="openAddOverlay()"></i></a>  
                    <a *ngIf="!itemSearch.controls['history'].value || itemSearch.controls['history'].value  == 'false'"(click)="deleteByIdItem(element._id , currentIndex)" class="m-r-10 cursor-pointer" [matTooltip]="translate(labels.btnDelete)">
                        <i class="fa fa-trash text-danger"></i>
                     </a>  
                </td>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"[ngClass]="{'backgroundColor':sharedService.check(row)}">
            </mat-row>
            
        </mat-table>

        <mat-paginator [length]="count" [pageSize]="this.paginator?.pageSize" [pageIndex]="this.paginator?.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange()" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    </mat-card-content>
</mat-card>
